@import "../../common/common";

$background-color: #000;

.login-button {
   border: none;
   cursor: pointer;
   border-radius: 5px;
   outline-color: #FFF;
   padding: .5rem 1rem;
   font-family: inherit;
   background-color: $background-color;
   color: $navbar-font-color;

   &:active {
      background-color: lighten($background-color, 20%);
   }

   @media #{$small-breakpoint-str} {
      display: inline-block;
      margin-bottom: .25rem;
   }
}
