@import "../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
// https://github.com/jonsuh/hamburgers
@import "../../common/common";

.hamburger {
   top: 0;
   right: 0;
   position: absolute;
   outline-color: #FFF;
   outline-offset: -.5rem;
}
