// Variables
$navbar-font-color: #FFFFFF;
$navbar-background-color: #2B386F;
$roboto-font-family: 'Roboto', sans-serif;

// Breakpoints
@function breakpoint-str($breakpoint) {
   @return "only screen and (max-width : #{$breakpoint})";
}

$medium-breakpoint: 909px;
$small-breakpoint: 600px;
$very-small-breakpoint: 290px;
$medium-breakpoint-str: breakpoint-str($medium-breakpoint);
$small-breakpoint-str: breakpoint-str($small-breakpoint);
$very-small-breakpoint-str: breakpoint-str($very-small-breakpoint);

// Visibility Classes
@media #{$small-breakpoint-str} {
   .hide-for-small {
      display: none;
   }
}

.show-for-small {
   display: none;

   @media #{$small-breakpoint-str} {
      display: block;

      &.use-inline-block {
         display: inline-block;
      }
   }
}
